restapi/Connection/OFM WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ofmservices.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ofmservices.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ofmservices.org/">
      <s:element name="CreatePO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CreateNew" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProjectContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProjectContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="extended" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteDIDError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteDIDErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeSM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="POID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmpNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeSMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArchivePO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArchivePOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAddressContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAddressContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProjectContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProjectContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDealType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDealTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendToRealization">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="poid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="empNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendToRealizationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPOStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="poid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPOStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="statusDescr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedesignProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="poid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="empNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedesignProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateIncome">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateIncomeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="poid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="empNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="documentType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="document" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMainProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="poid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="empNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isMain" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMainProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttachSlaveProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mainPoid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="slavePoid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="empNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="attach" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttachSlaveProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLinkedProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="poid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="linkedPoid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="empNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="attach" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLinkedProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartWork">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartWorkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendToBackOffice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="poid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="empNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendToBackOfficeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreatePOSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePO" />
  </wsdl:message>
  <wsdl:message name="CreatePOSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePOResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProjectContentSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProjectContent" />
  </wsdl:message>
  <wsdl:message name="UpdateProjectContentSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProjectContentResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSOSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSO" />
  </wsdl:message>
  <wsdl:message name="CreateSOSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSOResponse" />
  </wsdl:message>
  <wsdl:message name="WriteDIDErrorSoapIn">
    <wsdl:part name="parameters" element="tns:WriteDIDError" />
  </wsdl:message>
  <wsdl:message name="WriteDIDErrorSoapOut">
    <wsdl:part name="parameters" element="tns:WriteDIDErrorResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeSMSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeSM" />
  </wsdl:message>
  <wsdl:message name="ChangeSMSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeSMResponse" />
  </wsdl:message>
  <wsdl:message name="ArchivePOSoapIn">
    <wsdl:part name="parameters" element="tns:ArchivePO" />
  </wsdl:message>
  <wsdl:message name="ArchivePOSoapOut">
    <wsdl:part name="parameters" element="tns:ArchivePOResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePOSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePO" />
  </wsdl:message>
  <wsdl:message name="UpdatePOSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePOResponse" />
  </wsdl:message>
  <wsdl:message name="SetBOSoapIn">
    <wsdl:part name="parameters" element="tns:SetBO" />
  </wsdl:message>
  <wsdl:message name="SetBOSoapOut">
    <wsdl:part name="parameters" element="tns:SetBOResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAddressContactsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAddressContacts" />
  </wsdl:message>
  <wsdl:message name="UpdateAddressContactsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAddressContactsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProjectContactsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProjectContacts" />
  </wsdl:message>
  <wsdl:message name="UpdateProjectContactsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProjectContactsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDealTypeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDealType" />
  </wsdl:message>
  <wsdl:message name="UpdateDealTypeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDealTypeResponse" />
  </wsdl:message>
  <wsdl:message name="SendToRealizationSoapIn">
    <wsdl:part name="parameters" element="tns:SendToRealization" />
  </wsdl:message>
  <wsdl:message name="SendToRealizationSoapOut">
    <wsdl:part name="parameters" element="tns:SendToRealizationResponse" />
  </wsdl:message>
  <wsdl:message name="GetPOStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetPOStatus" />
  </wsdl:message>
  <wsdl:message name="GetPOStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetPOStatusResponse" />
  </wsdl:message>
  <wsdl:message name="RedesignProjectSoapIn">
    <wsdl:part name="parameters" element="tns:RedesignProject" />
  </wsdl:message>
  <wsdl:message name="RedesignProjectSoapOut">
    <wsdl:part name="parameters" element="tns:RedesignProjectResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateIncomeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateIncome" />
  </wsdl:message>
  <wsdl:message name="UpdateIncomeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateIncomeResponse" />
  </wsdl:message>
  <wsdl:message name="AddDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:AddDocument" />
  </wsdl:message>
  <wsdl:message name="AddDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:AddDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="SetMainProjectSoapIn">
    <wsdl:part name="parameters" element="tns:SetMainProject" />
  </wsdl:message>
  <wsdl:message name="SetMainProjectSoapOut">
    <wsdl:part name="parameters" element="tns:SetMainProjectResponse" />
  </wsdl:message>
  <wsdl:message name="AttachSlaveProjectSoapIn">
    <wsdl:part name="parameters" element="tns:AttachSlaveProject" />
  </wsdl:message>
  <wsdl:message name="AttachSlaveProjectSoapOut">
    <wsdl:part name="parameters" element="tns:AttachSlaveProjectResponse" />
  </wsdl:message>
  <wsdl:message name="AddLinkedProjectSoapIn">
    <wsdl:part name="parameters" element="tns:AddLinkedProject" />
  </wsdl:message>
  <wsdl:message name="AddLinkedProjectSoapOut">
    <wsdl:part name="parameters" element="tns:AddLinkedProjectResponse" />
  </wsdl:message>
  <wsdl:message name="StartWorkSoapIn">
    <wsdl:part name="parameters" element="tns:StartWork" />
  </wsdl:message>
  <wsdl:message name="StartWorkSoapOut">
    <wsdl:part name="parameters" element="tns:StartWorkResponse" />
  </wsdl:message>
  <wsdl:message name="SendToBackOfficeSoapIn">
    <wsdl:part name="parameters" element="tns:SendToBackOffice" />
  </wsdl:message>
  <wsdl:message name="SendToBackOfficeSoapOut">
    <wsdl:part name="parameters" element="tns:SendToBackOfficeResponse" />
  </wsdl:message>
  <wsdl:portType name="OPExtInterfaceSoap">
    <wsdl:operation name="CreatePO">
      <wsdl:input message="tns:CreatePOSoapIn" />
      <wsdl:output message="tns:CreatePOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProjectContent">
      <wsdl:input message="tns:UpdateProjectContentSoapIn" />
      <wsdl:output message="tns:UpdateProjectContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSO">
      <wsdl:input message="tns:CreateSOSoapIn" />
      <wsdl:output message="tns:CreateSOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteDIDError">
      <wsdl:input message="tns:WriteDIDErrorSoapIn" />
      <wsdl:output message="tns:WriteDIDErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeSM">
      <wsdl:input message="tns:ChangeSMSoapIn" />
      <wsdl:output message="tns:ChangeSMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ArchivePO">
      <wsdl:input message="tns:ArchivePOSoapIn" />
      <wsdl:output message="tns:ArchivePOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePO">
      <wsdl:input message="tns:UpdatePOSoapIn" />
      <wsdl:output message="tns:UpdatePOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetBO">
      <wsdl:input message="tns:SetBOSoapIn" />
      <wsdl:output message="tns:SetBOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAddressContacts">
      <wsdl:input message="tns:UpdateAddressContactsSoapIn" />
      <wsdl:output message="tns:UpdateAddressContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProjectContacts">
      <wsdl:input message="tns:UpdateProjectContactsSoapIn" />
      <wsdl:output message="tns:UpdateProjectContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDealType">
      <wsdl:input message="tns:UpdateDealTypeSoapIn" />
      <wsdl:output message="tns:UpdateDealTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendToRealization">
      <wsdl:input message="tns:SendToRealizationSoapIn" />
      <wsdl:output message="tns:SendToRealizationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPOStatus">
      <wsdl:input message="tns:GetPOStatusSoapIn" />
      <wsdl:output message="tns:GetPOStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RedesignProject">
      <wsdl:input message="tns:RedesignProjectSoapIn" />
      <wsdl:output message="tns:RedesignProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIncome">
      <wsdl:input message="tns:UpdateIncomeSoapIn" />
      <wsdl:output message="tns:UpdateIncomeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDocument">
      <wsdl:input message="tns:AddDocumentSoapIn" />
      <wsdl:output message="tns:AddDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMainProject">
      <wsdl:input message="tns:SetMainProjectSoapIn" />
      <wsdl:output message="tns:SetMainProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AttachSlaveProject">
      <wsdl:input message="tns:AttachSlaveProjectSoapIn" />
      <wsdl:output message="tns:AttachSlaveProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLinkedProject">
      <wsdl:input message="tns:AddLinkedProjectSoapIn" />
      <wsdl:output message="tns:AddLinkedProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartWork">
      <wsdl:input message="tns:StartWorkSoapIn" />
      <wsdl:output message="tns:StartWorkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendToBackOffice">
      <wsdl:input message="tns:SendToBackOfficeSoapIn" />
      <wsdl:output message="tns:SendToBackOfficeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OPExtInterfaceHttpPost" />
  <wsdl:binding name="OPExtInterfaceSoap" type="tns:OPExtInterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePO">
      <soap:operation soapAction="http://ofmservices.org/CreatePO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProjectContent">
      <soap:operation soapAction="http://ofmservices.org/UpdateProjectContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSO">
      <soap:operation soapAction="http://ofmservices.org/CreateSO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDIDError">
      <soap:operation soapAction="http://ofmservices.org/WriteDIDError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSM">
      <soap:operation soapAction="http://ofmservices.org/ChangeSM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArchivePO">
      <soap:operation soapAction="http://ofmservices.org/ArchivePO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePO">
      <soap:operation soapAction="http://ofmservices.org/UpdatePO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBO">
      <soap:operation soapAction="http://ofmservices.org/SetBO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAddressContacts">
      <soap:operation soapAction="http://ofmservices.org/UpdateAddressContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProjectContacts">
      <soap:operation soapAction="http://ofmservices.org/UpdateProjectContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDealType">
      <soap:operation soapAction="http://ofmservices.org/UpdateDealType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToRealization">
      <soap:operation soapAction="http://ofmservices.org/SendToRealization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPOStatus">
      <soap:operation soapAction="http://ofmservices.org/GetPOStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedesignProject">
      <soap:operation soapAction="http://ofmservices.org/RedesignProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIncome">
      <soap:operation soapAction="http://ofmservices.org/UpdateIncome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocument">
      <soap:operation soapAction="http://ofmservices.org/AddDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMainProject">
      <soap:operation soapAction="http://ofmservices.org/SetMainProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachSlaveProject">
      <soap:operation soapAction="http://ofmservices.org/AttachSlaveProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLinkedProject">
      <soap:operation soapAction="http://ofmservices.org/AddLinkedProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartWork">
      <soap:operation soapAction="http://ofmservices.org/StartWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToBackOffice">
      <soap:operation soapAction="http://ofmservices.org/SendToBackOffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OPExtInterfaceSoap12" type="tns:OPExtInterfaceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePO">
      <soap12:operation soapAction="http://ofmservices.org/CreatePO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProjectContent">
      <soap12:operation soapAction="http://ofmservices.org/UpdateProjectContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSO">
      <soap12:operation soapAction="http://ofmservices.org/CreateSO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteDIDError">
      <soap12:operation soapAction="http://ofmservices.org/WriteDIDError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSM">
      <soap12:operation soapAction="http://ofmservices.org/ChangeSM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArchivePO">
      <soap12:operation soapAction="http://ofmservices.org/ArchivePO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePO">
      <soap12:operation soapAction="http://ofmservices.org/UpdatePO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBO">
      <soap12:operation soapAction="http://ofmservices.org/SetBO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAddressContacts">
      <soap12:operation soapAction="http://ofmservices.org/UpdateAddressContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProjectContacts">
      <soap12:operation soapAction="http://ofmservices.org/UpdateProjectContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDealType">
      <soap12:operation soapAction="http://ofmservices.org/UpdateDealType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToRealization">
      <soap12:operation soapAction="http://ofmservices.org/SendToRealization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPOStatus">
      <soap12:operation soapAction="http://ofmservices.org/GetPOStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedesignProject">
      <soap12:operation soapAction="http://ofmservices.org/RedesignProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIncome">
      <soap12:operation soapAction="http://ofmservices.org/UpdateIncome" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocument">
      <soap12:operation soapAction="http://ofmservices.org/AddDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMainProject">
      <soap12:operation soapAction="http://ofmservices.org/SetMainProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachSlaveProject">
      <soap12:operation soapAction="http://ofmservices.org/AttachSlaveProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLinkedProject">
      <soap12:operation soapAction="http://ofmservices.org/AddLinkedProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartWork">
      <soap12:operation soapAction="http://ofmservices.org/StartWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToBackOffice">
      <soap12:operation soapAction="http://ofmservices.org/SendToBackOffice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OPExtInterfaceHttpPost" type="tns:OPExtInterfaceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="OPExtInterface">
    <wsdl:port name="OPExtInterfaceSoap" binding="tns:OPExtInterfaceSoap">
      <soap:address location="http://bk-ofm-01/OFMServices/OPExtInterface.asmx" />
    </wsdl:port>
    <wsdl:port name="OPExtInterfaceSoap12" binding="tns:OPExtInterfaceSoap12">
      <soap12:address location="http://bk-ofm-01/OFMServices/OPExtInterface.asmx" />
    </wsdl:port>
    <wsdl:port name="OPExtInterfaceHttpPost" binding="tns:OPExtInterfaceHttpPost">
      <http:address location="http://bk-ofm-01/OFMServices/OPExtInterface.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>