restapi/XSD Schemas/CFSInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 id="CFSInfo"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:include schemaLocation="Attribute.xsd"/>
	<xs:complexType name="CFSInfo">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="BillingAttr" type="Attribute" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Attribute" type="Attribute" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>