restapi/XSD Schemas/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
           id="CommonTypes">
    <xs:complexType name="AddInfo">
        <xs:annotation>
            <xs:documentation>Дополнительная информация</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AddField" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Поле с дополнительной информацией</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="Name" type="xs:string" use="required">
                                <xs:annotation>
                                    <xs:documentation>Наименование поля</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArbitrationSummary">
        <xs:annotation>
            <xs:documentation>Сводные данные об арбитражных делах</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Plaintiff" type="ArbitrationSummaryByRole">
                <xs:annotation>
                    <xs:documentation>Данные о делах, в которых компания выступает в качестве истца</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Defendant" type="ArbitrationSummaryByRole">
                <xs:annotation>
                    <xs:documentation>Данные о делах, в которых компания выступает в качестве ответчика
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ArbitrationByType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Сводные данные об арбитражных делах по типам</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Type" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Тип арбитражных дел</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Plaintiff" type="ArbitrationSummaryByRoleShort">
                                        <xs:annotation>
                                            <xs:documentation>Данные о делах, в которых компания выступает в качестве
                                                истца
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Defendant" type="ArbitrationSummaryByRoleShort">
                                        <xs:annotation>
                                            <xs:documentation>Данные о делах, в которых компания выступает в качестве
                                                ответчика
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="Id" type="xs:int" use="required">
                                    <xs:annotation>
                                        <xs:documentation>Идентификатор типа</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="Name" type="xs:string" use="required">
                                    <xs:annotation>
                                        <xs:documentation>Наименование типа</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ArbitrationByYear">
                <xs:annotation>
                    <xs:documentation>Сводные данные об арбитражных делах по годам</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Year" type="ArbitrationSummaryByYear" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Сводные данные об арбитражных делах за год</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Total" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Общее количество дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Considered" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество рассматриваемых дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Appealed" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество обжалуемых дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DecisionsAndRulings" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество решений и постановлений</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Completed" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество завершенных дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ArbitrationSummaryShort">
        <xs:annotation>
            <xs:documentation>Сводные данные об арбитражных делах</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Year" type="ArbitrationSummaryByYear" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Сводные данные об арбитражных делах за год</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Total" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Общее количество дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Considered" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество рассматриваемых дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Appealed" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество обжалуемых дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DecisionsAndRulings" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество решений и постановлений</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Completed" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество завершенных дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ArbitrationSummaryByRole">
        <xs:annotation>
            <xs:documentation>Сводные данные об арбитражных делах для отдельной роли участника</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Total" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Общее количество дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TotalSum" type="MyDecimal" use="required">
            <xs:annotation>
                <xs:documentation>Сумма по всем делам</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Considered" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество рассматриваемых дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ConsideredSum" type="MyDecimal" use="required">
            <xs:annotation>
                <xs:documentation>Сумма по рассматриваемым делам</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Appealed" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество обжалуемых дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AppealedSum" type="MyDecimal" use="required">
            <xs:annotation>
                <xs:documentation>Сумма по обжалуемым делам</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DecisionsAndRulings" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество решений и постановлений</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DecisionsAndRulingsSum" type="MyDecimal" use="required">
            <xs:annotation>
                <xs:documentation>Сумма по решениям и постановлениям</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Completed" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество завершенных дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CompletedSum" type="MyDecimal" use="required">
            <xs:annotation>
                <xs:documentation>Сумма по завершенным делам</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ArbitrationSummaryByRoleShort">
        <xs:annotation>
            <xs:documentation>Сводные данные об арбитражных делах для отдельной роли участника</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Total" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Общее количество дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Considered" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество рассматриваемых дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Appealed" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество обжалуемых дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Completed" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Количество завершенных дел</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ArbitrationSummaryByYear">
        <xs:annotation>
            <xs:documentation>Сводные данные об арбитражных делах за год</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Plaintiff">
                <xs:annotation>
                    <xs:documentation>Данные о делах, в которых компания/ИП выступает в качестве истца
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="CasesNumber" type="xs:int" use="required">
                        <xs:annotation>
                            <xs:documentation>Количество дел</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Sum" type="MyDecimal" use="required">
                        <xs:annotation>
                            <xs:documentation>Сумма</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="Defendant">
                <xs:annotation>
                    <xs:documentation>Данные о делах, в которых компания/ИП выступает в качестве ответчика
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="CasesNumber" type="xs:int" use="required">
                        <xs:annotation>
                            <xs:documentation>Количество дел</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Sum" type="MyDecimal" use="required">
                        <xs:annotation>
                            <xs:documentation>Сумма</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="ThirdOrOtherPerson">
                <xs:annotation>
                    <xs:documentation>Данные о делах, в которых компания/ИП выступает в качестве третьего лица
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="CasesNumber" type="xs:int" use="required">
                        <xs:annotation>
                            <xs:documentation>Количество дел</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Year" use="required">
            <xs:annotation>
                <xs:documentation>Год</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="BankruptcyMessage">
        <xs:complexContent>
            <xs:extension base="Message">
                <xs:attribute name="CaseNumber" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Номер дела</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Category">
        <xs:annotation>
            <xs:documentation>Категория</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Code" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Код категории</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Наименование категории</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ChangeInNameAndLegalFormType">
        <xs:all>
            <xs:element name="Name" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Наименование</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OGRN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код ОГРН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="INN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код ИНН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OKOPF" type="OKOPF" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Организационно-правовая форма</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ChangeDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дата изменений</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="CompanyByPersonType">
        <xs:annotation>
            <xs:documentation>Компания</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Company">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SPARKID" type="SparkID">
                            <xs:annotation>
                                <xs:documentation>Идентификатор компании в СПАРК</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="INN" type="xs:string" minOccurs="0"/>
                        <xs:element name="OGRN" type="xs:string" minOccurs="0"/>
                        <xs:element name="OKPO" type="xs:string" minOccurs="0"/>
                        <xs:element name="FullName" type="xs:string"/>
                        <xs:element name="RegionCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="IsActing" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Person">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FIO" type="xs:string"/>
                        <xs:element name="INN" type="xs:string" minOccurs="0"/>
                        <xs:element name="Position" minOccurs="0">
                            <xs:complexType>
                                <xs:attribute name="Code" type="xs:int" use="required"/>
                                <xs:attribute name="Name" type="xs:string" use="required"/>
                                <xs:attribute name="IsActing" type="xs:boolean" use="required"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="IsOwner" type="xs:boolean"/>
                        <xs:element name="IsActing" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="SharePart" type="MyDecimal" minOccurs="0"/>
                        <xs:element name="SharePartRUR" type="MyDecimal" minOccurs="0"/>
                        <xs:element name="ActualDate" type="xs:date" minOccurs="0"/>
                        <xs:element name="DataSource" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CompanyForCompliance">
        <xs:annotation>
            <xs:documentation>Российская компания для X-Compliance</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SparkID" type="SparkID">
                <xs:annotation>
                    <xs:documentation>Идентификатор в СПАРК</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="INN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ИНН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OGRN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ОГРН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FullName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Полное наименование</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Address" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес местонахождения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RegionCode" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код региона</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RegionName" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Наименование региона</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CompaniesNumberWithSameInfo">
        <xs:annotation>
            <xs:documentation>Количество компаний с аналогичными данными</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TelephoneCount">
                <xs:annotation>
                    <xs:documentation>Количество компаний с аналогичным телефоном</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:int">
                            <xs:attribute name="PhoneCode" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Региональный код</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="PhoneNumber" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Номер телефона</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="PhoneList" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Количество компаний с аналогичными телефонами</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="PhoneCount" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Количество компаний с аналогичным телефоном</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:int">
                                        <xs:attribute name="Code" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Региональный код</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                        <xs:attribute name="Number" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Номер телефона</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddressCount" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Количество компаний с аналогичным адресом</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddressWithoutRoomCount" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Количество компаний с аналогичным адресом с точностью до здания</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddressNotAffiliatedCount" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Количество не аффилированных компаний с аналогичным адресом</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddressFTSCount" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Количество компаний с аналогичным адресом по данным ФНС</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ManagerCountInCountry" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Количество компаний с аналогичным руководителем</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ManagerCountInRegion" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Количество компаний с аналогичным руководителем, зарегистрированных в том же
                        регионе
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ManagerInnCount" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Количество компаний с аналогичным ИНН руководителя</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CompanySize">
        <xs:annotation>
            <xs:documentation>Размер компании</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Revenue" type="xs:string">
            <xs:annotation>
                <xs:documentation>Значение оценки доходов компании</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Description" type="xs:string">
            <xs:annotation>
                <xs:documentation>Описание значения оценки доходов компании</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="CompanyType">
        <xs:annotation>
            <xs:documentation>Компания</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Наименование компании</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SPARKID" type="SparkID" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Идентификатор компании в СПАРК</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Address" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес компании</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="INN" type="xs:string" minOccurs="0"/>
            <xs:element name="OGRN" type="xs:string" minOccurs="0"/>
            <xs:element name="OKPO" type="xs:string" minOccurs="0"/>
            <xs:element name="OKOPFName" type="xs:string" minOccurs="0"/>
            <xs:element name="Manager" type="xs:string" minOccurs="0"/>
            <xs:element name="ManagerInn" type="xs:string" minOccurs="0"/>
            <xs:element name="FullName" type="xs:string" minOccurs="0"/>
            <xs:element name="OKATO" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CompanyType2">
        <xs:annotation>
            <xs:documentation>Тип компании. 1 – обычная компания, 2 – холдинг, 3 – страховая компания, 4 – страховой
                брокер, 5 – банковская организация
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CompanyTypeKZ">
        <xs:annotation>
            <xs:documentation>Компания Казахстана</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Наименование компании</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SparkID" type="SparkID" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Идентификатор компании в СПАРК</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Address" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес компании</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RNN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код РНН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BIN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код БИН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Manager" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Руководитель компании</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CompanyTypeUA">
        <xs:annotation>
            <xs:documentation>Компания Украины</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Наименование компании</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SparkID" type="SparkID" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Идентификатор компании в СПАРК</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Address" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес компании</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EDRPU" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код ЕДРПОУ компании</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Manager" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Руководитель компании</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConsolidatedIndicator">
        <xs:annotation>
            <xs:documentation>Сводный индикатор риска</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AddInfo" type="AddInfo">
                <xs:annotation>
                    <xs:documentation>Дополнительная информация о значении индекса</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Value" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Значение индикатора</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Description" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Описание значения индикатора</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="CoownerType">
        <xs:annotation>
            <xs:documentation>Тип совладельца. 0 - российское юридическое лицо, 1 - иностранное юр. лицо, 2 - физическое
                лицо
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Country">
        <xs:annotation>
            <xs:documentation>Страна</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Code" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Код страны</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Название страны</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="EventsListType">
        <xs:sequence>
            <xs:element name="Event" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="EventTypeId" type="xs:int"/>
                        <xs:element name="EventTypeDescription" type="xs:string"/>
                        <xs:element name="EventDate" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailureScore">
        <xs:annotation>
            <xs:documentation>Индекс финансового риска</xs:documentation>
        </xs:annotation>
        <xs:attribute name="FailureScoreValue" type="xs:string">
            <xs:annotation>
                <xs:documentation>Значение индекса финансового риска</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FailureScoreDesc" type="xs:string">
            <xs:annotation>
                <xs:documentation>Описание значения индекса финансового риска</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="FederalTaxRegistration">
        <xs:annotation>
            <xs:documentation>Сведения о регистрации в ФНС</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RegDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дата регистрации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RegAuthority" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Регистрирующий орган</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RegAuthorityAddress" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес регистрирующего органа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RegAuthorityCode" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код регистрирующего органа</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Finance">
        <xs:annotation>
            <xs:documentation>Финансовая информация</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinPeriod" type="FinPeriod" minOccurs="0" maxOccurs="5"/>
        </xs:sequence>
        <xs:attribute name="BalanceType" type="xs:int" use="optional"/>
    </xs:complexType>
    <xs:complexType name="FinPeriod">
        <xs:annotation>
            <xs:documentation>Финансовый отчет за период</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StringList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="String" type="FinStr" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="PeriodName" type="xs:string" use="required"/>
        <xs:attribute name="DateBegin" type="xs:date" use="required"/>
        <xs:attribute name="DateEnd" type="xs:date" use="required"/>
    </xs:complexType>
    <xs:complexType name="FinStr">
        <xs:annotation>
            <xs:documentation>Строка финансового отчета</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Form" type="xs:string" use="required"/>
        <xs:attribute name="Section" type="xs:string" use="optional"/>
        <xs:attribute name="Name" type="xs:string" use="required"/>
        <xs:attribute name="Code" type="xs:string" use="optional"/>
        <xs:attribute name="Value" type="MyDecimal" use="optional"/>
        <xs:attribute name="IdFinPok" type="xs:int" use="optional"/>
    </xs:complexType>
    <xs:complexType name="IndexOfDueDiligence">
        <xs:annotation>
            <xs:documentation>Индекс должной осмотрительности</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Index" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Значение индекса должной осмотрительности</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IndexDesc" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Описание значения индекса должной осмотрительности</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Leader">
        <xs:annotation>
            <xs:documentation>Руководитель</xs:documentation>
        </xs:annotation>
        <xs:attribute name="ActualDate" type="xs:date"/>
        <xs:attribute name="FIO" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="License">
        <xs:annotation>
            <xs:documentation>Лицензия</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Number" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Номер лицензии</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IssueDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дата выдачи</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Срок действия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ActivityKind" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Вид деятельности</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IssuingAuthority" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Выдавший орган</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IncludeInList" mixed="true">
        <xs:annotation>
            <xs:documentation>Вхождение в список</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AddInfo" type="AddInfo" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дополнительная информация о вхождении в список</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор списка</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IsNegative" type="xs:boolean" use="required">
            <xs:annotation>
                <xs:documentation>Признак негативного характера списка</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Member">
        <xs:sequence>
            <xs:element name="Position" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="Name" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>Название должности</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Code" type="xs:int" use="required">
                        <xs:annotation>
                            <xs:documentation>Код должности</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="SharePart" type="MyDecimal" use="optional">
                        <xs:annotation>
                            <xs:documentation>Доля в УК, %</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ActualDate" type="xs:date" use="required">
                        <xs:annotation>
                            <xs:documentation>Дата актуальности</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>ФИО</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="INN" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>ИНН</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="BirthdayYear" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>Год рождения</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="MemberType">
        <xs:annotation>
            <xs:documentation>Член СД и ИО</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="INN" type="xs:string" minOccurs="0"/>
            <xs:element name="BirthdayYear" type="xs:string" minOccurs="0"/>
            <xs:element name="Position">
                <xs:complexType>
                    <xs:attribute name="Name" type="xs:string" use="required"/>
                    <xs:attribute name="Code" type="xs:int" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="SharePart" type="MyDecimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Message">
        <xs:attribute name="Date" type="xs:date" use="required">
            <xs:annotation>
                <xs:documentation>Дата сообщения</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Тип сообщения</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IdType" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор типа сообщения</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="MyDecimal">
        <xs:annotation>
            <xs:documentation>Decimal с , вместо .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\-?\d+(,\d+)?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OKATO">
        <xs:annotation>
            <xs:documentation>ОКАТО</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Code" type="xs:string"/>
        <xs:attribute name="RegionName" type="xs:string" use="required"/>
        <xs:attribute name="RegionCode" type="xs:int" use="required"/>
    </xs:complexType>
    <xs:complexType name="OKFS">
        <xs:annotation>
            <xs:documentation>ОКФС</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Code" type="xs:string" use="required"/>
        <xs:attribute name="Name" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="OKOGU">
        <xs:annotation>
            <xs:documentation>ОКОГУ</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Code" type="xs:string" use="required"/>
        <xs:attribute name="Name" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="OKOPF">
        <xs:annotation>
            <xs:documentation>ОКОПФ</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Code" type="xs:string"/>
        <xs:attribute name="Name" type="xs:string" use="required"/>
        <xs:attribute name="CodeNew" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="OKTMO">
        <xs:annotation>
            <xs:documentation>ОКТМО</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Code" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="OKVED">
        <xs:annotation>
            <xs:documentation>Вид экономической деятельности</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Code" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Код вида экономической деятельности</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Наименование вида экономической деятельности</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IsMain" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>Признак основного вида экономической деятельности</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="PaymentIndex">
        <xs:annotation>
            <xs:documentation>Индекс платежной дисциплины</xs:documentation>
        </xs:annotation>
        <xs:attribute name="PaymentIndexValue" type="xs:string">
            <xs:annotation>
                <xs:documentation>Значение индекса платежной дисциплины</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PaymentIndexDesc" type="xs:string">
            <xs:annotation>
                <xs:documentation>Описание значения индекса платежной дисциплины</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Person">
        <xs:annotation>
            <xs:documentation>Информация о физическом лице</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FIO" type="xs:string">
                <xs:annotation>
                    <xs:documentation>ФИО</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SNILS" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код СНИЛС</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="INN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код ИНН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BirthDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дата рождения</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Phone">
        <xs:annotation>
            <xs:documentation>Телефон</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Code" type="xs:string">
            <xs:annotation>
                <xs:documentation>Региональный код</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Number" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Номер телефона</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Status" type="xs:string">
            <xs:annotation>
                <xs:documentation>Статус телефона</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="VerificationDate" type="xs:date">
            <xs:annotation>
                <xs:documentation>Дата проверки</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="PhoneList">
        <xs:annotation>
            <xs:documentation>Список телефонов</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Phone" type="Phone" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Телефон</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pledge">
        <xs:annotation>
            <xs:documentation>Договор залога</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StopReason" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Причина прекращения договора</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="Date" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>Дата прекращения договора</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Pledgers">
                <xs:annotation>
                    <xs:documentation>Залогодатели</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ParticipantId" type="xs:int" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Идентификатор участника договора залога</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Pledgees">
                <xs:annotation>
                    <xs:documentation>Залогодержатели</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ParticipantId" type="xs:int" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Идентификатор участника договора залога</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PledgedProperty" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Заложенное имущество</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="PropertyType" type="xs:string" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Категория имущества</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор уведомления в СПАРК</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IsActing" type="xs:boolean" use="required">
            <xs:annotation>
                <xs:documentation>Признак действующего/недействующего договора</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="NotificationNumber" type="xs:string">
            <xs:annotation>
                <xs:documentation>Регистрационный номер уведомления</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ContractNumber" type="xs:string">
            <xs:annotation>
                <xs:documentation>Номер договора</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ContractDate" type="xs:date">
            <xs:annotation>
                <xs:documentation>Дата заключения договора</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PerformanceDate" type="xs:date">
            <xs:annotation>
                <xs:documentation>Дата исполнения обязательств по договору</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="PledgeFull">
        <xs:annotation>
            <xs:documentation>Полная информация о договоре залога</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StopReason" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Причина прекращения договора</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="Date" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>Дата прекращения договора</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Pledgers">
                <xs:annotation>
                    <xs:documentation>Залогодатели</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Participant" type="PledgeParticipant" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Pledgees">
                <xs:annotation>
                    <xs:documentation>Залогодержатели</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Participant" type="PledgeParticipant" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PledgedProperty" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Заложенное имущество</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Item" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Описание имущества</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="Type" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Категория имущества</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор уведомления в СПАРК</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IsActing" type="xs:boolean" use="required">
            <xs:annotation>
                <xs:documentation>Признак действующего/недействующего договора</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="NotificationNumber" type="xs:string">
            <xs:annotation>
                <xs:documentation>Регистрационный номер уведомления</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ContractNumber" type="xs:string">
            <xs:annotation>
                <xs:documentation>Номер договора</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ContractDate" type="xs:date">
            <xs:annotation>
                <xs:documentation>Дата заключения договора</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PerformanceDate" type="xs:date">
            <xs:annotation>
                <xs:documentation>Дата исполнения обязательств по договору</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="PledgeByVIN">
        <xs:annotation>
            <xs:documentation>Договор залога по VIN</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StopReason" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Причина прекращения договора</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="Date" type="xs:date">
                                <xs:annotation>
                                    <xs:documentation>Дата прекращения договора</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Pledgers">
                <xs:annotation>
                    <xs:documentation>Залогодатели</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Participant" type="PledgeParticipant" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Pledgees">
                <xs:annotation>
                    <xs:documentation>Залогодержатели</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Participant" type="PledgeParticipant" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PledgedProperty">
                <xs:annotation>
                    <xs:documentation>Заложенное имущество</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Item" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Описание имущества</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="Type" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Категория имущества</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор уведомления в СПАРК</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IsActing" type="xs:boolean" use="required">
            <xs:annotation>
                <xs:documentation>Признак действующего/недействующего договора</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="NotificationNumber" type="xs:string">
            <xs:annotation>
                <xs:documentation>Регистрационный номер уведомления</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ContractNumber" type="xs:string">
            <xs:annotation>
                <xs:documentation>Номер договора</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ContractDate" type="xs:date">
            <xs:annotation>
                <xs:documentation>Дата заключения договора</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PerformanceDate" type="xs:date">
            <xs:annotation>
                <xs:documentation>Дата исполнения обязательств по договору</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="PledgeParticipant">
        <xs:annotation>
            <xs:documentation>Участник договора залога</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Наименование / ФИО</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SparkID" type="SparkID" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>СПАРК ИД</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="INN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код ИНН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OGRN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код ОГРН / ОГРНИП</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BirthDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дата рождения</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Type" type="SubjectType">
            <xs:annotation>
                <xs:documentation>Тип участника: 0 - компания, 2 - физическое лицо / ИП</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="PledgesSummary">
        <xs:annotation>
            <xs:documentation>Сводные данные о договорах залога</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Pledger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Договора залога, где компания выступает залогодателем</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="Active" type="xs:int" use="required">
                        <xs:annotation>
                            <xs:documentation>Количество действующих договоров</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Ceased" type="xs:int" use="required">
                        <xs:annotation>
                            <xs:documentation>Количество договоров, прекративших действие</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="Pledgee" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Договора залога, где компания выступает залогодержателем</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="Active" type="xs:int" use="required">
                        <xs:annotation>
                            <xs:documentation>Количество действующих договоров</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Ceased" type="xs:int" use="required">
                        <xs:annotation>
                            <xs:documentation>Количество договоров, прекративших действие</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegistrationCertificate">
        <xs:annotation>
            <xs:documentation>Свидетельство о регистрации</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Series" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Серия</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Number" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Номер</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IssueDate" type="xs:date" use="required">
            <xs:annotation>
                <xs:documentation>Дата выдачи</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="GRN" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Код ГРН/ГРНИП</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Reorganization">
        <xs:all>
            <xs:element name="SparkID" type="SparkID" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Идентификатор правопреемника в СПАРК</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Наименование правопреемника</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Address" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес правопреемника</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="INN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код ИНН правопреемника</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OGRN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Код ОГРН правопреемника</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FullName" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Полное наименование правопреемника</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Status" type="Status" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Статус правопреемника</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ResultInfo">
        <xs:annotation>
            <xs:documentation>Результат выполнения запроса</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ErrorInfo" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Информация об ошибке</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Code" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Код ошибки</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Message" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Текст ошибки</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="ResultType" use="required">
            <xs:annotation>
                <xs:documentation>Результат выполнения метода</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Access denied"/>
                    <xs:enumeration value="Already complete"/>
                    <xs:enumeration value="Authentication error"/>
                    <xs:enumeration value="Company is branch"/>
                    <xs:enumeration value="Data not found"/>
                    <xs:enumeration value="Document not exist"/>
                    <xs:enumeration value="Document not received"/>
                    <xs:enumeration value="Document not available in specified format"/>
                    <xs:enumeration value="Error"/>
                    <xs:enumeration value="False"/>
                    <xs:enumeration value="Not enough money"/>
                    <xs:enumeration value="Order is in progress"/>
                    <xs:enumeration value="Report not found"/>
                    <xs:enumeration value="Too many rows"/>
                    <xs:enumeration value="True"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="ExecutionTime" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>Время выполнения метода</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Sanction">
        <xs:annotation>
            <xs:documentation>Санкция</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SanctionProgram" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Наименование санкционной программы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InclusionReason" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Причина включения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StartDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дата включения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дата исключения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UID" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Уникальный идентификатор юридического лица в первоисточнике</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AnotherUID" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дополнительный уникальный идентификатор юридического лица в первоисточнике (ООН)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SanctionProgramNumber" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Порядковый номер в санкционной программе</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SanctionList">
        <xs:annotation>
            <xs:documentation>Санкционный список</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Id" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор санкционного листа</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Наименование санкционного листа</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="SparkID">
        <xs:annotation>
            <xs:documentation>Идентификатор компании в СПАРК</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int"/>
    </xs:simpleType>
    <xs:complexType name="StateContract">
        <xs:annotation>
            <xs:documentation>Госконтракт</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Customer">
                <xs:annotation>
                    <xs:documentation>Заказчик</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ParticipantId" type="xs:int">
                            <xs:annotation>
                                <xs:documentation>Идентификатор участника</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Suppliers">
                <xs:annotation>
                    <xs:documentation>Поставщики</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ParticipantId" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Идентификатор участника</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:int"/>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ContractSubject" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Предмет контракта</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор госконтракта</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ContractNumber" type="xs:string">
            <xs:annotation>
                <xs:documentation>Номер госконтракта</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ContractDate" type="xs:date">
            <xs:annotation>
                <xs:documentation>Дата заключения</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FederalLaw" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>№ ФЗ</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TenderNumber" type="xs:string">
            <xs:annotation>
                <xs:documentation>Номер госзаказа</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TenderDate" type="xs:date">
            <xs:annotation>
                <xs:documentation>Дата размещения заказа</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Sum" type="MyDecimal">
            <xs:annotation>
                <xs:documentation>Сумма госконтракта</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Currency" type="xs:string">
            <xs:annotation>
                <xs:documentation>Валюта госконтракта</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="StateContractsYear">
        <xs:annotation>
            <xs:documentation>Сводные данные по госконтрактам за год</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tenders">
                <xs:complexType>
                    <xs:attribute name="AdmittedNumber" type="xs:int"/>
                    <xs:attribute name="NotAdmittedNumber" type="xs:int"/>
                    <xs:attribute name="WinnerNumber" type="xs:int"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Contracts">
                <xs:complexType>
                    <xs:attribute name="SignedNumber" type="xs:int"/>
                    <xs:attribute name="Sum" type="MyDecimal"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Year" type="xs:int" use="required"/>
    </xs:complexType>
    <xs:complexType name="Status">
        <xs:annotation>
            <xs:documentation>Статус компании</xs:documentation>
        </xs:annotation>
        <xs:attribute name="IsActing" type="xs:boolean" use="required"/>
        <xs:attribute name="Text" type="xs:string" use="required"/>
        <xs:attribute name="Code" type="xs:int" use="required"/>
        <xs:attribute name="Date" type="xs:date" use="optional"/>
    </xs:complexType>
    <xs:simpleType name="SubjectType">
        <xs:annotation>
            <xs:documentation>Тип объекта. 0 - российская компания, 1 - иностранная компания, 2 - физическое лицо / ИП
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IsExist">
        <xs:annotation>
            <xs:documentation>Признак, является ли организация действующим клиентом ВК.
                «T», если клиент существует, «F», иначе
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="T"/>
            <xs:enumeration value="F"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Resident">
        <xs:annotation>
            <xs:documentation>Y – резидент, N-нерезидент</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Y"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SystemType">
        <xs:annotation>
            <xs:documentation>Идентификатор инициирующей системы.
                Возможные значение:
                • USSS
                • MWP
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
            <xs:enumeration value="USSS"/>
            <xs:enumeration value="MWP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BillingType">
        <xs:annotation>
            <xs:documentation>Признак, к какому биллингу относится подключаемая услуга.
                Допустимы следующие варианты: Mobile, Fix, Convergent
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Mobile"/>
            <xs:enumeration value="Fix"/>
            <xs:enumeration value="Convergent"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BenSelectionType">
        <xs:annotation>
            <xs:documentation>D-default ben, E-существующий, N-новый
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="D"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
