restapi/XSD Schemas/Equipment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
           id="Equipment">
           <xs:element  name="Equipment">
            <xs:complexType>
              <xs:all>
                <xs:element name="Id" type="xs:integer" />
                <xs:element name="quantity" type="xs:string"/>
              </xs:all>
            </xs:complexType>
           </xs:element>
</xs:schema>
